<%-include('./partials/adminHeader.ejs') %> 
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="/" class="simple-text logo-normal">Home</a></div>
      <%-include('./partials/adminSidebar.ejs') %> 
    <div class="main-panel">
      <!-- Navbar -->
      <%-include('./partials/adminNavbar.ejs') %> 

<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Add a council</h4>
              <p class="card-category"><%=message%></p>
            </div>
            <div class="card-body">              
              <form id="addForm" action="/act/addCouncil" class="needs-validation" method="POST">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">School Name or Council Name</label>
                      <input type="text" class="form-control" id="councilName" name="councilName" required="">
                    </div>
                  </div>                  
                </div>
                
                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <label for="category">Category</label>
                      <select class="form-control" id="category" name="category" required="">
                        <option disabled selected value> -- Select a category -- </option>
                        <option value="Junior Red Cross Youth">Junior Red Cross Youth</option>
                        <option value="Senior Red Cross Youth">Senior Red Cross Youth</option>
                        <option value="Senior Plus Red Cross Youth">Senior Plus Red Cross Youth</option>
                        <option value="College Red Cross Youth">College Red Cross Youth</option>
                        <option value="Community Red Cross Youth">Community Red Cross Youth</option>
                      </select>
                    </div>
                  </div>
                </div>            
                <button type="submit" class="btn btn-danger pull-right">Add Council</button>
                <div class="clearfix"></div>
              </form>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%-include('./partials/adminFooter.ejs') %>