<%-include ("partials/header.ejs") %> 
<%-include ("partials/formsNav.ejs") %> 
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Add Council</h2>
            <ol>
              <li><a href="/adminActivity">Back To Activity Page</a></li>
              <li>Adding Council</li>
            </ol>
          </div>
  
        </div>
      </section><!-- End Breadcrumbs -->
  
      <section class="inner-page">
        <div class="container">
          <p>Fill out the following fields to create a new council</p>

          <div class="row">
            <div class="col-md-8 order-md-1">
              <form id="addForm" class="needs-validation" method="POST">
                <div class="row mb-5">
                    <label for="councilName">Council name</label>
                    <input type="text" class="form-control" id="councilName" name="councilName" placeholder="Council Name" value="" required="">
                    <div class="invalid-feedback">
                        Valid council name is required.
                    </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                  <label for="chapter">Chapter</label>
                  <select class="form-control" id="chapter" name="chapter">
                    <option disabled selected value> -- select an option -- </option>
                    <% for (let i=0; i < chapters.length; i++){%>
                        <option value="<%= chapters[i].id%>"><%= chapters[i].name%></option>
                    <%}%>
                  </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" name="category">
                      <option disabled selected value> -- select an option -- </option>
                      <option value="Junior Red Cross Youth">Junior Red Cross Youth</option>
                      <option value="Senior Red Cross Youth">Senior Red Cross Youth</option>
                      <option value="Senior Plus Red Cross Youth">Senior Plus Red Cross Youth</option>
                      <option value="College Red Cross Youth">College Red Cross Youth</option>
                      <option value="Community Red Cross Youth">Community Red Cross Youth</option>
                    </select>
                  </div>
                </div>
                <hr class="mb-4">        
                <button type='submit' class="btn btn-danger btn-lg btn-block text-white">Add</button>        
              </form>
                <a href="activities.php">Back</a>
            </div>
          </div>
        </div>
        </div>
      </section>

<%-include ('partials/footer.ejs') %> 