<%-include('./partials/adminHeader.ejs') %> 
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
      -->
      <div class="logo"><a href="/adminProfile" class="simple-text logo-normal">
      Profile</a></div>
      <%-include('./partials/adminSidebar.ejs') %>
    <div class="main-panel">
      <!-- Navbar -->
      <%-include('./partials/adminNavbar.ejs') %>
      
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">              
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Pending and Recieved Forms</h4>                  
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type</th>
                        <th scope="col">Requesting Council</th>
                        <th scope="col">Time Made</th>
                        <th scope="col" value="approve"></th>
                        <th scope="col" value="reject"></th>
                    </tr>
                </thead>
                <tbody>
                  <%for(var i=0;i<forms.length; i++){%>
                      <%for(var x=0;x<forms[i].documents.length; x++){%>
                      <tr>
                      <th scope="row"><%= forms[i].documents[x]['id'] %></th>
                      <td><%= forms[i].documents[x]['type'] %></td>
                      <td><%= forms[i].name %></td>
                      <td><%= forms[i].documents[x]['createdAt'] %></td>
                      <td><span>&#10003;</span></td>
                      <td><span>&#9747;</span></td>
                      </tr>
                      <%}%>
                  <%}%> 
                </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Councils:</h4>
                </div>
                <div class="card-body">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>		
                        <th rowspan="2">Name</th>
                        <th>Category</th>
                        <th>Profile Created</th>
                        <th>Profile</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%for(var i=0;i<council.length; i++){%>
                        <tr>
                          <td>
                            <img src="../images/1.png" class="mx-2" style="height: 5em;">
                            <span><%= council[i].name %></span>
                          </td>
                          <td><%= council[i].category %></td>
                          <td><%= council[i].createdAt %></td>                          
                          <td><a href="/viewCouncil/<%= council[i].id %>">View Council</a></td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>              
            </ul>
          </nav>
        </div>
      </footer>
    </div>
  </div>
<%-include('./partials/adminFooter') %> 