<%-include('./partials/adminHeader.ejs') %> 
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">

      <div class="logo"><a href="/" class="simple-text logo-normal">Home</a></div>
      <%-include('./partials/adminSidebar.ejs') %> 
    <div class="main-panel">
      <!-- Navbar -->
      <%-include('./partials/adminNavbar.ejs') %> 

<div class="content">
    <div class="container-fluid">
      
      <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Forms:</h4>
                </div>
                <div class="card-body">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>    
                        <th rowspan="2">#</th>
                        <th>Type</th>
                        <th>Made on</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    <%for(var i=0;i<documents.length; i++){%>
                        <tr>
                          <td>                            
                            <span><%=documents[i]['id']%></span>
                          </td>
                          <td><%=documents[i]['type']%></td>
                          <td><%=documents[i]['createdAt']%></td>
                          <!--<td><a href="/addAdvisor/id">View Council</a></td> approval portion, stan knows how to do it but i don't --derek -->
                        </tr>
                    <%}%>           
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
      </div>

      <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Advisors:</h4>
                </div>
                <div class="card-body">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th rowspan="2">Full Name(s):<i>Last,First Middle.</i></th>
                      </tr>
                    </thead>
                    <tbody>
                      <%for(var i=0;i<advisors.length; i++){%>
                        <tr>
                          <td>
                            <span><b><%=advisors[i]['last_name']%></b>,<%=advisors[i]['first_name']%> <%=advisors[i]['middle_name']%>.</span>
                          </td>                          
                        </tr>
                        <%}%>                 
                    </tbody>
                  </table>                  
                  <a href="/addAdvisor/<%=councilId%>"><input type="button" class="btn btn-danger pull-right" value="Add Advisor"></a>
                </div>
              </div>
            </div>
      </div>

<%-include('./partials/adminFooter.ejs') %>