<%-include ('partials/header.ejs') %> 
<%-include ('partials/formsNav.ejs') %> 
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Activity Reports</h2>
            <ol>
              <li><a href="/">Go Back</a></li>
              <li>Documents</li>
            </ol>
          </div>
  
        </div>
      </section><!-- End Breadcrumbs -->
  
      <section class="inner-page">
        <div class="container">
          <!--<div>
            <a href="/addReport" class ="btn btn-danger" >+Add Report</a>
          </div> -->
          <div class="row">
            <div class="col-md-6">
                <div class="card">
                  <div class="card-header card-header-danger">
                    <h4 class="card-title">Membership Forms</h4>                    
                  </div>
                  <div class="card-body table-responsive">
                    <table class="table table-hover">
                      <thead class="text-warning">
                        <tr>
                          <th scope="col">#</th>
                          <!--<th scope="col">Status</th>-->
                          <th scope="col">Volunteer</th>                          
                          <th scope="col" value="approve"></th>
                          <th scope="col" value="reject"></th>
                      </tr>
                  </thead>
                  <tbody>                  
                    <% for(var i=0;i<memForm.length; i++){%>
                      <tr>
                      <th scope="row"><%= memForm[i].id %></th>
                      <!--<td>Pending</td>-->
                      <td><a href="/filledMemForm/<%= memForm[i].membership_forms[0]['id'] %>"> <%= memForm[i].membership_forms[0]['surname']%> <%=memForm[i].membership_forms[0]['first_name'] %> </a></td>
                      <td><span>&#10003;</span></td>
                      <td><span>&#9747;</span></td>
                      </tr>
                    <% } %>
                  </tbody>
                    </table>
                  </div>
                </div>
              </div>

            <div class="col-md-6">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Uniform Request Forms</h4>
                  <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <tr>
                        <th scope="col">#</th>                      
                        <th scope="col">Time Requested</th>
                        <th scope="col">Type</th>
                        <th scope="col">Quantity</th>
                        <th scope="col" value="approve"></th>
                        <th scope="col" value="reject"></th>
                    </tr>
                </thead>
                <tbody>
                  <% unifReqs.forEach( out=>{%>
                    <tr>
                    <th scope="row"><%= out.id %></th>
                    <td><%= out.createdAt %></td>
                    <td><%= out.uniform_request_forms[0].uniform_type %></td>
                    <td><%= out.uniform_request_forms[0].quantity %></td>
                    <td><span>&#10003;</span></td>
                    <td><span>&#9747;</span></td>
                    </tr> 
                    <% }) %>                   
                </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!--<div class="col-md-6">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Committee Membership Forms</h4>
                  <p class="card-category">New employees on 15th September, 2016</p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Status</th>
                        <th scope="col">Title</th>
                        <th scope="col">Sender</th>
                        <th scope="col" value="approve"></th>
                        <th scope="col" value="reject"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Pending</td>
                    <td>New Recruit</td>
                    <td>USC TC Chapter</td>
                    <td><span>&#10003;</span></td>
                    <td><span>&#9747;</span></td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Recieved</td>
                    <td>Event Plan</td>
                    <td>STC Chapter</td>
                    <td><a href="#" ><span>&#10003;</span></a></td>
                    <td><span>&#9747;</span></td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td>Pending</td>
                    <td>Training for newbs</td>
                    <td>Sacred Heart Chapter</td>
                    <td><span>&#10003;</span></td>
                    <td><span>&#9747;</span></td>
                    </tr>
                </tbody>
                  </table>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </section>
  
    </main><!-- End #main -->
  
<%-include ('partials/footer.ejs') %> 