<%-include ("partials/header.ejs") %> 
<%-include ("partials/formsNav.ejs") %> 

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Membership Form</h2>
        <ol>
          <li><a href="index.html">Back To Activity Page</a></li>
          <li>Adding Report</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <p>Fill out the following fields to apply for membership</p>

      <div class="row">
        <div class="col-md-8 order-md-1">
          <form id="addMemberForm" class="needs-validation" novalidate="">
            <div class="row d-flex justify-content-end">
              <div class="col-md-2 mb-1">
                <label for="bloodType">Blood Type</label>
                <select id="bloodType" class="form-control" name="bloodType">
                  <option disabled selected value>-select type-</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="AB">AB</option>
                  <option value="O">O</option>
                </select>
            </div>
            <div class="row d-flex justify-content-end">
              <div class="col-md-4 mb-1">
                <label for="rcyId">RCY ID No.</label>
                <input type="number" class="form-control" id="rcyId" name="rcyId" placeholder="RCY ID No." value="" required="">
                <div class="invalid-feedback">
                  Valid bloodtype is required.
                </div>
            </div>
            <div class="row d-flex justify-content-end">
              <div class="col-md-4 mb-4">
                <label for="committee">Committee Membership</label>
                <select id="committee" class="form-control" name="committee">
                  <option disabled selected value>--select an option--</option>
                  <% for (let i=0; i < committees.length; i++){%>
                    <option value="<%= committees[i].id%>"><%= committees[i].type%></option>
                  <%}%>
                </select>
            </div>

            <h4 class="my-3">PERSONAL DATA</h4>
            <div class="row">
              <div class="col-md-4 mb-1">
                <label for="surName">Surname</label>
                <input type="text" class="form-control" id="surname" name="surname" placeholder="Surname" value="" required="">
                <div class="invalid-feedback">
                  Valid surname is required.
                </div>
              </div>
              <div class="col-md-4 mb-1">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" value="" required="">
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-4 mb-1">
                <label for="middleName">Middle name</label>
                <input type="text" class="form-control" id="middleName" name="middleName" placeholder="Middle Name" value="" required="">
                <div class="invalid-feedback">
                  Valid middle name is required.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 mb-4">
                <label for="nickname">Nickname</label>
                <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickame" value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4">
                <label for="birthdate">Birthdate</label>
                <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="Birthdate" value="" required="">
              </div>
              <div class="col-md-3 mb-4">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age" name="age" placeholder="Age" value="">
              </div>
              <div class="col-md-3 mb-4">
                <label for="civilStatus">Civil Status</label>
                <select id="civilStatus" class="form-control" name="civilStatus">
                  <option disabled selected value> -- select an option -- </option>
                  <option value="SINGLE">SINGLE</option>
                  <option value="MARRIED">MARRIED</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2 mb-4">
                <label for="height">Height</label>
                <input type="number" class="form-control" id="height" name="height" placeholder="inches" value="" required=""> 
              </div>
              <div class="col-md-2 mb-4">
                <label for="weight">Weight</label>
                <input type="number" class="form-control" id="weight" name="weight" placeholder="kg" value="" required=""> 
              </div>
              <div class="col-md-4 mb-4">
                <label for="nationality">Nationality</label>
                <input type="text" class="form-control" id="nationality" name="nationality" placeholder="Nationality" value="" required="">
              </div>
              <div class="col-md-4 mb-4">
                <label for="religion">Religion</label>
                <input type="text" class="form-control" id="religion" name="religion" placeholder="Religion" value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-4">
                <label for="contact">Contact Number</label>
                <input type="text" class="form-control" id="contactNo" name="contact" placeholder="Contact No." value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 mb-4">
                <label for="cityAddress">City Address</label>
                <input type="text" class="form-control" id="cityAdd" name="cityAddress" placeholder="City Address" value="" required="">
              </div>
              <div class="col-md-4 mb-4">
                <label for="cityTel">City Telephone Number</label>
                <input type="text" class="form-control" id="cityTel" name="cityTel" placeholder="City Telephone No." value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 mb-4">
                <label for="provincialAddress">Provincial Address</label>
                <input type="text" class="form-control" id="provinceAdd" name="provincialAddress" placeholder="Provincial Address" value="" required="">
              </div>
              <div class="col-md-4 mb-4">
                <label for="provincialTel">Provincial Telephone Number</label>
                <input type="text" class="form-control" id="provinceTel" name="provincialTel" placeholder="Provincial Telephone No." value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4">
                <label for="ailments">Ailments (separate each with a comma)</label>
                <input type="text" class="form-control" id="ailments" name="ailments" placeholder="Ailments" value="" required="">
              </div>
              <div class="col-md-6 mb-4">
                <label for="allergies">Allergies (separate each with a comma)</label>
                <input type="text" class="form-control" id="allergies" name="allergies" placeholder="Allergies" value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4">
                <label for="hobbies">Hobbies (separate each with a comma)</label>
                <input type="text" class="form-control" id="hobbies" name="hobbies" placeholder="Hobbies" value="" required="">
              </div>
              <div class="col-md-6 mb-4">
                <label for="specialSkills">Special Skills (separate each with a comma)</label>
                <input type="text" class="form-control" id="specSkills" name="specialSkills" placeholder="Special Skills" value="" required="">
              </div>
            </div>


            <div class="row">
              <div class="col-md-8 mb-1">
                <label for="fathersName">Father's Name</label>
                <input type="text" class="form-control" id="fathersName" name="fathersName" placeholder="Father's Name" value="" required="">
              </div>
              <div class="col-md-4 mb-1">
                <label for="fathersOccupation">Father's Occupation</label>
                <input type="text" class="form-control" id="fathersOcc" name="fathersOccupation" placeholder="Father's Occupation" value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 mb-4">
                <label for="fathersAddress">Father's Address</label>
                <input type="text" class="form-control" id="fathersAdd" name="fathersAddress" placeholder="Father's Addresss" value="" required="">
              </div>
              <div class="col-md-4 mb-4">
                <label for="fathersTel">Father's Telephone Number</label>
                <input type="text" class="form-control" id="fathersTel" name="fathersTel" placeholder="Father's Telephone No." value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 mb-1">
                <label for="mothersName">Mother's Name</label>
                <input type="text" class="form-control" id="mothersName" name="mothersName" placeholder="Mother's Name" value="" required="">
              </div>
              <div class="col-md-4 mb-1">
                <label for="mothersOccupation">Mother's Occupation</label>
                <input type="text" class="form-control" id="mothersOcc" name="mothersOccupation" placeholder="Mother's Occupation" value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 mb-4">
                <label for="mothersAddress">Mother's Address</label>
                <input type="text" class="form-control" id="mothersAdd" name="mothersAddress" placeholder="Mother's Addresss" value="" required="">
              </div>
              <div class="col-md-4 mb-4">
                <label for="mothersTel">Mother's Telephone Number</label>
                <input type="text" class="form-control" id="mothersTel" name="mothersTel" placeholder="Mother's Telephone No." value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 mb-1">
                <label for="guardiansName">Guardian's Name</label>
                <input type="text" class="form-control" id="guardiansName" name="guardiansName" placeholder="Guardian's Name" value="" required="">
              </div>
              <div class="col-md-4 mb-1">
                <label for="guardiansOccupation">Guardian's Occupation</label>
                <input type="text" class="form-control" id="guardiansOcc" name="guardiansOccupation" placeholder="Guardian's Occupation" value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 mb-5">
                <label for="guardiansAddress">Guardian's Address</label>
                <input type="text" class="form-control" id="guardiansAdd" name="guardiansAddress" placeholder="Guardian's Addresss" value="" required="">
              </div>
              <div class="col-md-4 mb-5">
                <label for="guardiansTel">Guardian's Telephone Number</label>
                <input type="text" class="form-control" id="guardiansTel" name="guardiansTel" placeholder="Guardian's Telephone No." value="" required="">
              </div>
            </div>


            <h4 class="mb-3">EDUCATIONAL BACKGROUND</h4>
            <div class="row">
              <div class="col-md-6 mb-1">
                <label for="presentSchool">Present School</label>
                <input type="text" class="form-control" id="presentSchool" name="presentSchool" placeholder="Present School" value="" required="">
              </div>
              <div class="col-md-3 mb-1">
                <label for="course">Course</label>
                <input type="text" class="form-control" id="course" name="course" placeholder="Course" value="" required="">
              </div>
              <div class="col-md-3 mb-1">
                <label for="year">Year</label>
                <input type="text" class="form-control" id="year" name="year" placeholder="Year" value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 mb-4">
                <label for="schoolAddress">School Address</label>
                <input type="text" class="form-control" id="schoolAdd" name="schoolAddress" placeholder="School Address" value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 mb-4">
                <label for="elementarySchool">Elementary School</label>
                <input type="text" class="form-control" id="elemSchool" name="elementarySchool" placeholder="Elementary School" value="" required="">
              </div>
              <div class="col-md-4 mb-4">
                <label for="elementaryDate">Date</label>
                <input type="date" class="form-control" id="elemDate" name="elementaryDate" placeholder="" value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 mb-4">
                <label for="secondarySchool">Secondary School</label>
                <input type="text" class="form-control" id="secondarySchool" name="secondarySchool" placeholder="Secondary School" value="" required="">
              </div>
              <div class="col-md-4 mb-4">
                <label for="secondaryDate">Date</label>
                <input type="date" class="form-control" id="secondaryDate" name="secondaryDate" placeholder="" value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 mb-4">
                <label for="collegeSchool">College School</label>
                <input type="text" class="form-control" id="collegeSchool" name="collegeSchool" placeholder="College School" value="" required="">
              </div>
              <div class="col-md-4 mb-4">
                <label for="collegeDate">Date</label>
                <input type="date" class="form-control" id="collegeDate" name="collegeDate" placeholder="" value="" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 mb-5">
                <label for="vocationalSchool">Vocational School</label>
                <input type="text" class="form-control" id="vocSchool" name="vocationalSchool" placeholder="Vocational School" value="" required="">
              </div>
              <div class="col-md-4 mb-5">
                <label for="vocationalDate">Date</label>
                <input type="date" class="form-control" id="vocDate" name="vocationalDate" placeholder="" value="" required="">
              </div>
            </div>


            <h4 class="mb-3">RED CROSS TRAININGS ATTENDED</h4>
            <!-- JS to add more lines for trainingList -->
            <div id="trainingsList">
                <div class="row training">
                    <div class="col-md-6 mb-1 trainingDiv">
                        <label for="training">Training Attended</label>
                        <input type="text" class="form-control trainingAttended" name="training" placeholder="Training Attended" value="" required="">
                    </div>
                    <div class="col-md-6 mb-1 certDiv">
                      <label for="cert">Certificate Number</label>
                      <input type="text" class="form-control certificateNo" name="cert" placeholder="Certificate Number" value="" required="">
                  </div>
                    <div class="col-md-6 mb-4 placeDiv">
                        <label for="place">Place</label>
                        <input type="text" class="form-control place" name="place" placeholder="Place" value="" required="">
                    </div>
                    <div class="col-md-3 mb-4 startDiv">
                        <label for="startDate">Start Date</label>
                        <input type="date" class="form-control startDate" name="startDate" placeholder="" value="" required="">
                    </div>
                    <div class="col-md-3 mb-4 endDiv">
                        <label for="endDate">End Date</label>
                        <input type="date" class="form-control endDate" name="endDate" placeholder="" value="" required="">
                    </div>
                </div>
            </div>
            <button type="button" id="addTraining" class="col-md-3 btn btn-success">Add Another Training</button>



            <h4 class="mt-5 mb-3">AFFILIATION WITH OTHER ORGANIZATIONS</h4>
            <!-- JS to add more lines for orgAffiliations -->
            <div id="organizations">
                <div class="row organization">
                    <div class="col-md-6 mb-1 orgDiv">
                      <label for="organization">Organization</label>
                      <input type="text" class="form-control org" name="organization" placeholder="Organization" value="" required="">
                    </div>
                    <div class="col-md-3 mb-1 startDiv">
                      <label for="startDate">Start Date</label>
                      <input type="date" class="form-control startDate" name="startDate" placeholder="" value="" required="">
                    </div>
                    <div class="col-md-3 mb-1 endDiv">
                      <label for="endDate">End Date</label>
                      <input type="date" class="form-control endDate" name="endDate" placeholder="" value="" required="">
                    </div>
                    <div class="col-md-6 mb-4 posDiv">
                      <label for="position">Position</label>
                      <input type="text" class="form-control position" name="position" placeholder="Position" value="" required="">
                    </div>
                    <div class="col-md-6 mb-4 councilDiv">
                      <label for="council">Council</label>
                      <input type="text" class="form-control council" name="council" placeholder="Council" value="" required="">
                    </div>
                  </div>
            </div>
            <button type="button" id="addOrg" class="col-md-4 btn btn-success">Add Another Organization</button>

            <hr class="my-4">          
            <button type='submit' id="test" class="btn btn-danger btn-lg btn-block text-white">Submit</button>        
          </form>
            <a href="activities.php">Back</a>
        </div>
      </div>
    </div>
    </div>
  </section>

<%-include ('partials/footer.ejs') %> 